@using JumpsellerSync.Common.Util.Extensions
@using JumpsellerSync.BusinessLogic.Core.Dtos.Provider
@model IEnumerable<ProviderProductDetailsDto>

<input type="hidden" data-total-pages="@ViewBag.TotalPages" id="unsynced-total-pages" />
<table class="table">
   <thead>
      <tr>
         <th>SKU</th>
         <th>Nombre</th>
         <th>Precio</th>
         <th>Stock</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      @foreach (var product in Model)
      {
         <tr>
            <td>@Html.DisplayFor(modelItem => product.SKU)</td>
            <td>@product.Brand.Description.Capitalize() @product.SKU</td>
            <td>@Html.DisplayFor(modelItem => product.Price)</td>
            <td>@Html.DisplayFor(modelItem => product.Stock)</td>
            <td>
               <button class="btn btn-sm btn-primary sync-product-btn"
                       data-provider-product-id="@product.Id"
                       data-provider-product-desc="@product.Description"
                       data-provider-product-brand="@product.Brand.Description"
                       data-provider-product-sku="@product.SKU"
                       data-toggle="modal"
                       data-target="#syncProductModal">
                  <i class="fa fa-refresh" aria-label="hidden"></i>
                  Sincronizar
               </button>
            </td>
         </tr>
      }
   </tbody>
</table>
