@using JumpsellerSync.BusinessLogic.Core.Dtos.Main
@model ProviderDto

@{
   var providerTypes = (List<SelectListItem>)ViewBag.ProviderTypes;
   var hours = Model.Hours ?? new List<string>();
   var (periodicallyClass, hourlyClass) = Model.ProviderType == ProviderType.HourlyProvider
      ? ("hide-sync-type", "")
      : ("", "hide-sync-type");
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row justify-content-center">
   <div class="col-sm-12 col-md-6">
      <form asp-action="@ViewBag.Action">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @Html.HiddenFor(m => m.Id)
         <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
         </div>

         <div class="form-group">
            <label asp-for="Url" class="control-label">Url</label>
            <div class="input-group">
               <input asp-for="Url" class="form-control" />
               <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary rounded" id="ping-provider">Test</button>
               </div>
            </div>
            <span asp-validation-for="Url" class="text-danger"></span>
         </div>

         <div class="form-group form-check">
            <label class="form-check-label">
               <input class="form-check-input" asp-for="Active" />
               Activo
            </label>
         </div>
         <div class="form-group">
            <label asp-for="Priority" class="control-label">Prioridad</label>
            <input asp-for="Priority" class="form-control" />
            <span asp-validation-for="Priority" class="text-danger"></span>
         </div>

         <div class="form-group">
            <label asp-for="ProviderType" class="control-label d-block">Sincronización</label>
            @for (var i = 0; i < providerTypes.Count; i++)
            {
               <div class="form-check form-check-inline sync-type-check">
                  <input class="form-check-input"
                         name="@nameof(ProviderDto.ProviderType)"
                         @(providerTypes[i].Selected ? "checked" : "")
                         id="ProviderType_@(i + 1)"
                         type="radio"
                         value="@providerTypes[i].Value">
                  <label class="form-check-label" for="ProviderType_@(i + 1)">@providerTypes[i].Text</label>
               </div>
            }
            <span asp-validation-for="ProviderType" class="text-danger"></span>
         </div>

         <div class="row sync-type @periodicallyClass">
            <div class="form-group col-sm-12 col-md-6">
               <label asp-for="StartTime" class="control-label">Hora Inicio</label>
               <input asp-for="StartTime" class="form-control" />
               <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 col-md-6">
               <label asp-for="Interval" class="control-label">Intervalo</label>
               <input asp-for="Interval" class="form-control" />
               <span asp-validation-for="Interval" class="text-danger"></span>
            </div>
         </div>

         <div class="sync-type @hourlyClass">
            <div class="form-group">
               <label class="control-label">Horas</label>
               <div id="provider-hours" class="row d-flex justify-content-start">
                  @for (var i = 0; i < hours.Count; i++)
                  {
                     <div class="col-sm-6 col-md-4 hour-container d-flex align-items-center">
                        <input asp-for="Hours" id="Hours_@(i + 1)" class="form-control" value="@hours[i]" />
                        <i class="fa fa-trash text-danger delete" aria-label="hidden"></i>
                     </div>
                  }
               </div>
               <span asp-validation-for="Hours" class="text-danger"></span>
               <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-sm btn-outline-success" id="add-provider-hour">
                     <i class="fa fa-plus" aria-label="hidden"></i>
                     Añadir hora
                  </button>
               </div>
            </div>
         </div>

         <div class="form-group text-center">
            <input type="submit" value="@ViewBag.ActionText" class="btn btn-primary" />
            <a asp-action="Index">Regresar al listado</a>
         </div>
      </form>
   </div>
</div>

