@using JumpsellerSync.BusinessLogic.Core.Dtos.Main
@model IEnumerable<ProductDetailsDto>

<table class="table">
   <thead>
      <tr>
         <th></th>
         <th>SKU</th>
         <th>Nombre</th>
         <th>Precio</th>
         <th>Stock</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model)
      {
         <tr>
            <td>
               <div class="d-flex align-items-center justify-content-center add-product-cbox-container">
                  <label class="form-check-label">
                     <input class="form-check-input no-margin" type="checkbox" data-product-id="@item.Id" />
                  </label>
               </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.SKU)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
               <input type="number" name="Price_@item.Id"
                      data-price="@Html.Raw(Json.Serialize(Math.Round(item.Price, 2)))"
                      class="form-control" />
            </td>
            <td>
               <input type="number" name="Stock_@item.Id"
                      value="@item.Stock"
                      class="form-control" />
            </td>
         </tr>
      }
   </tbody>
</table>
